---
- name: Ensure registry data directories exist
  file:
    path: "{{ registry_data_path }}/{{ registry.name }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop: "{{ registries }}"
  loop_control:
    loop_var: registry

- name: Ensure ACME cache directory exists
  file:
    path: "{{ letsencrypt_cache }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Generate config files for each registry
  template:
    src: registry-config.yml.j2
    dest: "{{ registry_data_path }}/{{ registry.name }}/config.yml"
  loop: "{{ registries }}"
  loop_control:
    loop_var: registry

- name: Pull Docker Registry image
  docker_image:
    name: registry
    tag: "3"
    source: pull

- name: Deploy registry containers
  docker_container:
    name: "{{ registry.name }}"
    image: registry:3
    restart_policy: always
    env:
      OTEL_TRACES_EXPORTER: "none"
    ports:
      - "{{ registry.port }}:5000"
    volumes:
      - "{{ registry_data_path }}/{{ registry.name }}:/var/lib/registry"
      - "{{ registry_data_path }}/{{ registry.name }}/config.yml:/etc/docker/registry/config.yml:ro"
      - "{{ letsencrypt_cache }}:/acme"
  loop: "{{ registries }}"
  loop_control:
    loop_var: registry
...
