# MANAGED BY ANSIBLE
# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{ mint_keyboard.model }}"
XKBLAYOUT="{{ mint_keyboard.layout }}"
XKBVARIANT="{{ mint_keyboard.variant }}"
XKBOPTIONS="{{ mint_keyboard.options }}"

BACKSPACE="guess"
