---
- name: (Chroot) Ensure localization packages are installed
  ansible.builtin.apt:
    update_cache: true
    install_recommends: false
    name:
      - locales
      - tzdata
      - keyboard-configuration
      - console-setup
      - util-linux-extra # Required for the timezone module "On Ubuntu 24.04 and Debian 13 (Trixie), the util-linux-extra package is required to provide the hwclock command"
    state: present
  delegate_to: "{{ chroot_path }}"
  become: true

- name: (Chroot) Set timezone
  community.general.timezone:
    name: "{{ mint_timezone }}"
  delegate_to: "{{ chroot_path }}"
  become: true

- name: (Chroot) Ensure locale is generated (Debian/Ubuntu)
  community.general.locale_gen:
    name: "{{ mint_locales.generate }}"
    state: present
  delegate_to: "{{ chroot_path }}"
  become: true
  when: ansible_os_family == "Debian"

- name: (Chroot) Set default locale (Debian/Ubuntu)
  ansible.builtin.lineinfile:
    path: /etc/default/locale
    regexp: '^LANG='
    line: 'LANG={{ mint_locales.default }}'
    create: yes
  delegate_to: "{{ chroot_path }}"
  become: true
  when: ansible_os_family == "Debian"

- name: (Chroot) Set system locale (RHEL family)
  command: "localectl set-locale LANG={{ mint_locales.default }}"
  delegate_to: "{{ chroot_path }}"
  become: true
  when: ansible_os_family == "RedHat"

- name: (Chroot) Configure keyboard
  ansible.builtin.template:
    src: keyboard.j2
    dest: /etc/default/keyboard
  delegate_to: "{{ chroot_path }}"
  become: true

- name: (Chroot) Configure vconsole
  ansible.builtin.template:
    src: keyboard.j2
    dest: /etc/vconsole.conf
  delegate_to: "{{ chroot_path }}"
  become: true
...
