---
- name: Ensure we are in UEFI mode
  stat:
    path: /sys/firmware/efi/efivars
  register: efi_check
  failed_when: not efi_check.stat.exists

- name: Configure APT proxy on Live ISO (optional)
  template:
    src: 90proxy.j2
    dest: /etc/apt/apt.conf.d/90proxy
    owner: root
    group: root
    mode: '0644'
  when: apt_proxy | default('') | length > 0

- name: Install provisioning tools on Live ISO
  apt:
    name: [ debootstrap, gdisk, zfsutils-linux, curl ]
    update_cache: no

- name: Derive partition device paths
  set_fact:
    boot_part_device: "{{ boot_disk }}{{ 'p' if (is_nvme | bool) else '' }}{{ boot_part_num }}"
    pool_part_device: "{{ pool_disk }}{{ 'p' if (is_nvme | bool) else '' }}{{ pool_part_num }}"

- name: Generate HostID
  command: zgenhostid -f 0x00bab10c
  args:
    creates: /etc/hostid

- name: Prepare Disks (Wipe)
  shell: |
    zpool labelclear -f {{ pool_disk }} || true
    wipefs -a {{ pool_disk }}
    sgdisk --zap-all {{ pool_disk }}
    {% if boot_disk != pool_disk %}
    wipefs -a {{ boot_disk }}
    sgdisk --zap-all {{ boot_disk }}
    {% endif %}

- name: Create Partitions
  shell: |
    sgdisk -n {{ boot_part_num }}:1m:+512m -t {{ boot_part_num }}:ef00 {{ boot_disk }}
    sgdisk -n {{ pool_part_num }}:0:-10m -t {{ pool_part_num }}:bf00 {{ pool_disk }}

- name: Create ZFS Pool
  community.general.zpool:
    name: "{{ pool_name }}"
    mountpoint: "none"
    force: true
    pool_properties:
      ashift: "12"
      autotrim: "on"
    filesystem_properties:
      compression: "lz4"
      acltype: "posixacl"
      xattr: "sa"
      atime: "off"
      relatime: "on"
    state: present
    vdevs:
      - disks:
          - "{{ pool_part_device }}"

- name: Create Dataset ROOT
  community.general.zfs:
    name: "{{ pool_name }}/ROOT"
    state: present
    extra_zfs_properties:
      mountpoint: "none"
      "org.zfsbootmenu:commandline": "quiet splash"
- name: Create Dataset ROOT/{{ zfs_id }}
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}"
    state: present
    extra_zfs_properties:
      mountpoint: "/"
      canmount: "noauto"
- name: Create Dataset home
  community.general.zfs:
    name: "{{ pool_name }}/home"
    state: present
    extra_zfs_properties:
      mountpoint: "/home"

- name: Set Pool bootfs property
  ansible.builtin.command:
    argv:
      - zpool
      - set
      - "bootfs={{ pool_name }}/ROOT/{{ zfs_id }}"
      - "{{ pool_name }}"

- name: Export and Re-import Pool to /mnt
  shell: |
    zpool export {{ pool_name }}
    zpool import -N -R /mnt {{ pool_name }}
    zfs mount {{ pool_name }}/ROOT/{{ zfs_id }}
    zfs mount {{ pool_name }}/home

- name: Bootstrap Ubuntu
  command: debootstrap {{ ubuntu_codename }} /mnt
  args:
    creates: /mnt/bin/bash

- name: Snapshot after debootstrap
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-debootstrap"
    state: present

- name: Copy HostID and Resolv.conf
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
  loop:
    - { src: '/etc/hostid', dest: '/mnt/etc/hostid' }
    - { src: '/etc/resolv.conf', dest: '/mnt/etc/resolv.conf' }

- name: Mount virtual filesystems for chroot
  ansible.posix.mount:
    path: "{{ item.path }}"
    src: "{{ item.src }}"
    fstype: "{{ item.fstype }}"
    opts: "{{ item.opts | default(omit) }}"
    state: mounted
  loop:
    - { path: /mnt/proc,     src: proc, fstype: proc }
    - { path: /mnt/sys,      src: sys,  fstype: sysfs }
    - { path: /mnt/dev,      src: /dev, fstype: none, opts: bind }
    - { path: /mnt/dev/pts,  src: pts,  fstype: devpts }

- name: Configure Hostname inside Chroot
  shell: |
    echo '{{ hostname }}' > /mnt/etc/hostname
    echo -e '127.0.1.1\t{{ hostname }}' >> /mnt/etc/hosts

- name: Configure APT Sources for Mint
  template:
    src: sources.list.j2
    dest: /mnt/etc/apt/sources.list

- name: Configure APT proxy inside Chroot (optional)
  template:
    src: 90proxy.j2
    dest: /mnt/etc/apt/apt.conf.d/90proxy
    owner: root
    group: root
    mode: '0644'
  when: apt_proxy | default('') | length > 0

- name: Install base system packages (Chroot)
  shell: |
    chroot /mnt apt update
    chroot /mnt apt install -y --no-install-recommends \
      linux-generic dosfstools zfs-initramfs zfsutils-linux curl efibootmgr

- name: Snapshot before Mint installation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-base-install"
    state: present

- name: Install Mint Keyring (Chroot)
  shell: |
    chroot /mnt apt install -y wget gnupg
    wget -qO /mnt/tmp/mintkey.deb {{ mint_keyring_url }}
    chroot /mnt dpkg -i /tmp/mintkey.deb

- name: Install Mint base packages (Chroot)
  shell: |
    chroot /mnt apt update
    chroot /mnt apt install -y --no-install-recommends \
      mint-meta-core

- name: Snapshot after Mint core installation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-mint-core-install"
    state: present

- name: Install Cinnamon desktop (Chroot)
  shell: |
    chroot /mnt apt update
    chroot /mnt apt install -y --no-install-recommends \
      mint-meta-cinnamon

- name: Snapshot after Mint cinnamon installation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-mint-cinnamon-install"
    state: present

- name: Set Root Password (Chroot)
  shell: chroot /mnt /bin/bash -c "echo 'root:{{ root_password }}' | chpasswd"

- name: Enable ZFS Services (Chroot)
  shell: |
    chroot /mnt systemctl enable zfs.target zfs-import-cache zfs-mount zfs-import.target
    chroot /mnt update-initramfs -c -k all

- name: Format EFI system partition
  ansible.builtin.filesystem:
    fstype: vfat
    dev: "{{ boot_part_device }}"
    opts: "-F32"

- name: Ensure EFI mount directory exists
  ansible.builtin.file:
    path: /mnt/boot/efi
    state: directory

- name: Mount EFI system partition in chroot
  ansible.posix.mount:
    path: /mnt/boot/efi
    src: "{{ boot_part_device }}"
    fstype: vfat
    opts: defaults
    state: mounted
    fstab: /mnt/etc/fstab
    #TODO Does this use the UUID automatically?

- name: Create ZFSBootMenu EFI directory
  ansible.builtin.file:
    path: /mnt/boot/efi/EFI/ZBM
    state: directory

- name: Download ZFSBootMenu EFI binary
  ansible.builtin.get_url:
    url: https://get.zfsbootmenu.org/efi
    dest: /mnt/boot/efi/EFI/ZBM/VMLINUZ.EFI
    mode: '0644'

- name: Create backup ZFSBootMenu EFI binary
  ansible.builtin.copy:
    src: /mnt/boot/efi/EFI/ZBM/VMLINUZ.EFI
    dest: /mnt/boot/efi/EFI/ZBM/VMLINUZ-BACKUP.EFI
    remote_src: true

- name: Ensure efivarfs is mounted for chroot
  ansible.posix.mount:
    path: /mnt/sys/firmware/efi/efivars
    src: efivarfs
    fstype: efivarfs
    state: mounted

- name: Create backup ZFSBootMenu EFI boot entry
  ansible.builtin.command:
    argv:
      - chroot
      - /mnt
      - efibootmgr
      - -c
      - -d
      - "{{ boot_disk }}"
      - -p
      - "{{ boot_part_num }}"
      - -L
      - ZFSBootMenu
      - -l
      - '\EFI\ZBM\VMLINUZ-BACKUP.EFI'

- name: Create ZFSBootMenu EFI boot entry
  ansible.builtin.command:
    argv:
      - chroot
      - /mnt
      - efibootmgr
      - -c
      - -d
      - "{{ boot_disk }}"
      - -p
      - "{{ boot_part_num }}"
      - -L
      - ZFSBootMenu
      - -l
      - '\EFI\ZBM\VMLINUZ.EFI'

- name: Snapshot before final export
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-provisioning"
    state: present

- name: Unmount EFI system partition
  ansible.posix.mount:
    path: /mnt/boot/efi
    state: unmounted
  ignore_errors: true

- name: Unmount chroot filesystems
  ansible.builtin.command:
    argv:
      - umount
      - "-n"
      - "-R"
      - "/mnt"
#  ansible.posix.mount:
#    path: "{{ item }}"
#    state: unmounted
#  loop:
#    - /mnt/dev/pts
#    - /mnt/dev
#    - /mnt/proc
#    - /mnt/sys
#    - /mnt

- name: Export ZFS pool
  ansible.builtin.command:
    argv:
      - zpool
      - export
      - "{{ pool_name }}"
