---
- name: Preflight checks and tooling
  ansible.builtin.import_tasks: preflight.yml

- name: Prepare ZFS pool and datasets
  ansible.builtin.import_tasks: prepare_zpool.yml

- name: Provision base system and configure
  ansible.builtin.import_tasks: provision.yml

- name: Finalize provisioning
  ansible.builtin.import_tasks: finalize.yml
