---
- name: Ensure we are in UEFI mode
  stat:
    path: /sys/firmware/efi/efivars
  register: efi_check
  failed_when: not efi_check.stat.exists

- name: Configure APT proxy on Live ISO (optional)
  template:
    src: 90proxy.j2
    dest: /etc/apt/apt.conf.d/90proxy
    owner: root
    group: root
    mode: '0644'
  when: apt_proxy | default('') | length > 0

- name: Install provisioning tools on Live ISO
  apt:
    name: [ debootstrap, gdisk, zfsutils-linux, curl ]
    update_cache: false

- name: Derive partition device paths
  set_fact:
    boot_part_device: "{{ boot_disk }}{{ 'p' if (is_nvme | bool) else '' }}{{ boot_part_num }}"
    pool_part_device: "{{ pool_disk }}{{ 'p' if (is_nvme | bool) else '' }}{{ pool_part_num }}"

- name: Generate HostID
  command: zgenhostid -f 0x00bab10c
  args:
    creates: /etc/hostid

- name: Prepare ZFS pool and datasets
  ansible.builtin.import_tasks: prepare_zpool.yml

- name: Snapshot after initial creation
  ansible.builtin.command:
    argv:
      - zfs
      - snapshot
      - -r
      - "{{ pool_name }}@{{ lookup('pipe', 'date -u +%Y-%m-%d-%H%M%S') }}-post-00-creation"
    state: present

- name: Bootstrap Ubuntu
  ansible.builtin.import_tasks: install_debootstrap.yml
  when: >-
    installation_method == 'debootstrap'
    and not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-10-initial-' ~ installation_method ~ '$')
      | list
      | length) > 0)

- name: Install Live ISO SquashFS
  ansible.builtin.import_tasks: install_squashfs.yml
  when: >-
    installation_method == 'squashfs'
    and not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-10-initial-' ~ installation_method ~ '$')
      | list
      | length) > 0)

- name: Snapshot after initial installation
  ansible.builtin.command:
    argv:
      - zfs
      - snapshot
      - -r
      - "{{ pool_name }}@{{ lookup('pipe', 'date -u +%Y-%m-%d-%H%M%S') }}-post-10-initial-{{installation_method}}"
    state: present

- name: Prepare chroot environment
  ansible.builtin.import_tasks: prepare_chroot.yml
  when: >-
    not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-11-initial-config$')
      | list
      | length) > 0)

- name: Snapshot after initial configuration
  ansible.builtin.command:
    argv:
      - zfs
      - snapshot
      - -r
      - "{{ pool_name }}@{{ lookup('pipe', 'date -u +%Y-%m-%d-%H%M%S') }}-post-11-initial-config"
    state: present

- name: (Chroot) Install base system packages
  ansible.builtin.apt:
    update_cache: true
    install_recommends: false
    name:
      - linux-generic
      - dosfstools
      - zfs-initramfs
      - zfsutils-linux
      - curl
      - efibootmgr
      - etckeeper
    state: present
  delegate_to: "{{ chroot_path }}"
  become: true
  when: >-
    not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-20-install-base$')
      | list
      | length) > 0)

- name: Snapshot after base installation
  ansible.builtin.command:
    argv:
      - zfs
      - snapshot
      - -r
      - "{{ pool_name }}@{{ lookup('pipe', 'date -u +%Y-%m-%d-%H%M%S') }}-post-20-install-base"
    state: present

- name: Post debootstrap steps
  ansible.builtin.import_tasks: post_debootstrap.yml
  when: >-
    installation_method == 'debootstrap'
    and not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-70-provision$')
      | list
      | length) > 0)

- name: Post squashfs steps
  ansible.builtin.import_tasks: post_squashfs.yml
  when: >-
    installation_method == 'squashfs'
    and not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-70-provision$')
      | list
      | length) > 0)

- name: Post installation steps
  ansible.builtin.import_tasks: post_installation.yml
  when: >-
    not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-70-provision$')
      | list
      | length) > 0)

- name: Setup ZFSBootMenu
  ansible.builtin.import_tasks: setup_zfsbootmenu.yml
  when: >-
    not ((zfs_snapshots | default([])
      | select('match', '(^|.*-)post-70-provision$')
      | list
      | length) > 0)

- name: Snapshot before final export
  ansible.builtin.command:
    argv:
      - zfs
      - snapshot
      - -r
      - "{{ pool_name }}@{{ lookup('pipe', 'date -u +%Y-%m-%d-%H%M%S') }}-post-70-provision"
    state: present

- name: Unmount EFI system partition
  ansible.posix.mount:
    path: "{{ chroot_path }}/boot/efi"
    state: unmounted
  ignore_errors: true

- name: Unmount chroot filesystems
  ansible.builtin.command:
    argv:
      - umount
      - "-n"
      - "-R"
      - "{{ chroot_path }}"
#  ansible.posix.mount:
#    path: "{{ item }}"
#    state: unmounted
#  loop:
#    - "{{ chroot_path }}/dev/pts"
#    - "{{ chroot_path }}/dev"
#    - "{{ chroot_path }}/proc"
#    - "{{ chroot_path }}/sys"
#    - "{{ chroot_path }}"

- name: Export ZFS pool
  ansible.builtin.command:
    argv:
      - zpool
      - export
      - "{{ pool_name }}"
