---
- name: Ensure we are in UEFI mode
  stat:
    path: /sys/firmware/efi/efivars
  register: efi_check
  failed_when: not efi_check.stat.exists

- name: Configure APT proxy on Live ISO (optional)
  template:
    src: 90proxy.j2
    dest: /etc/apt/apt.conf.d/90proxy
    owner: root
    group: root
    mode: '0644'
  when: apt_proxy | default('') | length > 0

- name: Install provisioning tools on Live ISO
  apt:
    name: [ debootstrap, gdisk, zfsutils-linux, curl ]
    update_cache: no

- name: Derive partition device paths
  set_fact:
    boot_part_device: "{{ boot_disk }}{{ 'p' if (is_nvme | bool) else '' }}{{ boot_part_num }}"
    pool_part_device: "{{ pool_disk }}{{ 'p' if (is_nvme | bool) else '' }}{{ pool_part_num }}"

- name: Generate HostID
  command: zgenhostid -f 0x00bab10c
  args:
    creates: /etc/hostid

- name: Prepare ZFS pool and datasets
  ansible.builtin.import_tasks: prepare_zpool.yml

- name: Snapshot after initial creation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-00-creation"
    state: present

- name: Bootstrap Ubuntu
  ansible.builtin.import_tasks: install_debootstrap.yml
  when: installation_method == 'debootstrap'

- name: Install Live ISO SquashFS
  ansible.builtin.import_tasks: install_squashfs.yml
  when: installation_method == 'squashfs'

- name: Snapshot after initial installation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-10-initial-{{installation_method}}"
    state: present

- name: Prepare chroot environment
  ansible.builtin.import_tasks: prepare_chroot.yml

- name: Snapshot after initial configuration
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-11-initial-config"
    state: present

- name: Post debootstrap steps
  ansible.builtin.import_tasks: post_debootstrap.yml
  when: installation_method == 'debootstrap'

- name: Post squashfs steps
  ansible.builtin.import_tasks: post_squashfs.yml
  when: installation_method == 'squashfs'

- name: (Chroot) Set root password
  ansible.builtin.user:
    name: root
    password: "{{ root_password | password_hash('sha512') }}"
  delegate_to: "{{ chroot_name }}"
  become: true

- name: (Chroot) Create default user
  ansible.builtin.user:
    name: "{{ default_user_name }}"
    shell: /bin/bash
    groups:
      - sudo
      - adm
      - cdrom
      - dip
      - plugdev
      - lpadmin
      - video
      - audio
      - render
      - input
      - netdev
    append: true
    create_home: true
    password: "{{ default_user_password | password_hash('sha512') }}"
  delegate_to: "{{ chroot_name }}"
  become: true

- name: (Chroot) DPKG Reconfigure
  ansible.builtin.import_tasks: dpkg_reconfigure.yml

- name: (Chroot) Enable ZFS systemd units
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
  loop:
    - zfs.target
    - zfs-import-cache.service
    - zfs-mount.service
    - zfs-import.target
  delegate_to: "{{ chroot_name }}"
  become: true

- name: (Chroot) Regenerate initramfs
  ansible.builtin.command: update-initramfs -c -k all
  delegate_to: "{{ chroot_name }}"
  become: true

- name: Format EFI system partition
  ansible.builtin.filesystem:
    fstype: vfat
    dev: "{{ boot_part_device }}"
    opts: "-F32"

- name: Ensure EFI mount directory exists
  ansible.builtin.file:
    path: "{{ chroot_path }}/boot/efi"
    state: directory

- name: Mount EFI system partition in chroot
  ansible.posix.mount:
    path: "{{ chroot_path }}/boot/efi"
    src: "{{ boot_part_device }}"
    fstype: vfat
    opts: defaults
    state: mounted
    fstab: "{{ chroot_path }}/etc/fstab"
    #TODO Does this use the UUID automatically?

- name: Create ZFSBootMenu EFI directory
  ansible.builtin.file:
    path: "{{ chroot_path }}/boot/efi/EFI/ZBM"
    state: directory

- name: Download ZFSBootMenu EFI binary
  ansible.builtin.get_url:
    url: https://get.zfsbootmenu.org/efi
    dest: "{{ chroot_path }}/boot/efi/EFI/ZBM/VMLINUZ.EFI"
    mode: '0644'

- name: Create backup ZFSBootMenu EFI binary
  ansible.builtin.copy:
    src: "{{ chroot_path }}/boot/efi/EFI/ZBM/VMLINUZ.EFI"
    dest: "{{ chroot_path }}/boot/efi/EFI/ZBM/VMLINUZ-BACKUP.EFI"
    remote_src: true

- name: Ensure efivarfs is mounted for chroot
  ansible.posix.mount:
    path: "{{ chroot_path }}/sys/firmware/efi/efivars"
    src: efivarfs
    fstype: efivarfs
    state: mounted

- name: (Chroot) Create backup ZFSBootMenu EFI boot entry
  ansible.builtin.command:
    argv:
      - efibootmgr
      - -c
      - -d
      - "{{ boot_disk }}"
      - -p
      - "{{ boot_part_num }}"
      - -L
      - ZFSBootMenu (Backup)
      - -l
      - '\EFI\ZBM\VMLINUZ-BACKUP.EFI'
  delegate_to: "{{ chroot_name }}"
  become: true

- name: (Chroot) Create ZFSBootMenu EFI boot entry
  ansible.builtin.command:
    argv:
      - efibootmgr
      - -c
      - -d
      - "{{ boot_disk }}"
      - -p
      - "{{ boot_part_num }}"
      - -L
      - ZFSBootMenu
      - -l
      - '\EFI\ZBM\VMLINUZ.EFI'
  delegate_to: "{{ chroot_name }}"
  become: true

- name: Snapshot before final export
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-70-provision"
    state: present

- name: Unmount EFI system partition
  ansible.posix.mount:
    path: "{{ chroot_path }}/boot/efi"
    state: unmounted
  ignore_errors: true

- name: Unmount chroot filesystems
  ansible.builtin.command:
    argv:
      - umount
      - "-n"
      - "-R"
      - "{{ chroot_path }}"
#  ansible.posix.mount:
#    path: "{{ item }}"
#    state: unmounted
#  loop:
#    - "{{ chroot_path }}/dev/pts"
#    - "{{ chroot_path }}/dev"
#    - "{{ chroot_path }}/proc"
#    - "{{ chroot_path }}/sys"
#    - "{{ chroot_path }}"

- name: Export ZFS pool
  ansible.builtin.command:
    argv:
      - zpool
      - export
      - "{{ pool_name }}"
