---
- name: Ensure LightDM and GTK greeter are installed (Chroot)
  shell: |
    chroot /mnt apt update
    chroot /mnt apt install -y --no-install-recommends \
      lightdm lightdm-gtk-greeter

- name: Enable LightDM service (Chroot)
  shell: |
    chroot /mnt systemctl enable lightdm

- name: Snapshot after installation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-20-installation"
    state: present
...
