---
- name: Ensure LightDM and GTK greeter are installed (Chroot)
  shell: |
    chroot {{ chroot_path }} apt update
    chroot {{ chroot_path }} apt install -y --no-install-recommends \
      lightdm lightdm-gtk-greeter

- name: Enable LightDM service (Chroot)
  shell: |
    chroot {{ chroot_path }} systemctl enable lightdm

- name: Snapshot after installation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-20-installation"
    state: present
...
