---
- name: (Chroot) Ensure LightDM and GTK greeter are installed
  ansible.builtin.apt:
    name:
      - lightdm
      - lightdm-gtk-greeter
    state: present
  delegate_to: "{{ chroot_path }}"
  become: true
  when: '"post-21-install" not in zfs_snapshots'

- name: (Chroot) Enable LightDM service
  ansible.builtin.systemd:
    name: lightdm
    enabled: yes
  delegate_to: "{{ chroot_path }}"
  become: true
  when: '"post-21-install" not in zfs_snapshots'

- name: Snapshot after installation
  ansible.builtin.command:
    argv:
      - zfs
      - snapshot
      - -r
      - "{{ pool_name }}@post-21-install"
    state: present
...
