---
- name: (Chroot) Ensure LightDM and GTK greeter are installed
  ansible.builtin.apt:
    name:
      - lightdm
      - lightdm-gtk-greeter
    state: present
  delegate_to: "{{ chroot_path }}"
  become: true

- name: (Chroot) Enable LightDM service
  ansible.builtin.systemd:
    name: lightdm
    enabled: yes
  delegate_to: "{{ chroot_path }}"
  become: true

- name: Snapshot after installation
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}@post-20-installation"
    state: present
...
