---
- name: Gather facts about the ZFS pool
  community.general.zpool_facts:
    name: "{{ pool_name }}"
    parsable: true
  failed_when: "false"

- name: Determine if the ZFS pool already exists
  set_fact:
    zfs_pool_exists: >-
      {{
        ansible_zfs_pools is defined
        and (ansible_zfs_pools
             | selectattr('name', 'equalto', pool_name)
             | list
             | length > 0)
      }}

- name: Print ZFS pool existence
  ansible.builtin.debug:
    msg: "ZFS Pool {{ pool_name }} exists: {{ zfs_pool_exists }}"

- name: Prepare Disks (Wipe)
  shell: |
    zpool labelclear -f {{ pool_disk }} || true
    wipefs -a {{ pool_disk }}
    sgdisk --zap-all {{ pool_disk }}
    {% if boot_disk != pool_disk %}
    wipefs -a {{ boot_disk }}
    sgdisk --zap-all {{ boot_disk }}
    {% endif %}
  when: not zfs_pool_exists

- name: Create Partitions
  shell: |
    sgdisk -n {{ boot_part_num }}:1m:+512m -t {{ boot_part_num }}:ef00 {{ boot_disk }}
    sgdisk -n {{ pool_part_num }}:0:-10m -t {{ pool_part_num }}:bf00 {{ pool_disk }}
  when: not zfs_pool_exists

- name: Create ZFS Pool
  community.general.zpool:
    name: "{{ pool_name }}"
    mountpoint: "none"
    force: true
    pool_properties:
      ashift: "12"
      autotrim: "on"
    filesystem_properties:
      compression: "{{ zfs_compression | default('lz4') }}"
      dedup: "{{ zfs_deduplication | default('off') }}"
      acltype: "posixacl"
      xattr: "sa"
      atime: "off"
      relatime: "on"
    state: present
    vdevs:
      - disks:
          - "{{ pool_part_device }}"
  when: not zfs_pool_exists

- name: Create Dataset ROOT
  community.general.zfs:
    name: "{{ pool_name }}/ROOT"
    state: present
    extra_zfs_properties:
      mountpoint: "none"
      "org.zfsbootmenu:commandline": "quiet splash"
  when: not zfs_pool_exists

- name: Create boot environment parent dataset {{ zfs_dataset_distro_base }}
  community.general.zfs:
    name: "{{ zfs_dataset_distro_base }}"
    state: present
    extra_zfs_properties:
      mountpoint: "none"
      canmount: "off"
  when: not zfs_pool_exists

- name: Create boot environment dataset {{ zfs_dataset_base }}
  community.general.zfs:
    name: "{{ zfs_dataset_base }}"
    state: present
    extra_zfs_properties:
      mountpoint: "/"
      canmount: "noauto"
  when: not zfs_pool_exists

- name: Create additional datasets under {{ zfs_dataset_base }}
  community.general.zfs:
    name: "{{ zfs_dataset_base }}/{{ item.name }}"
    state: present
    extra_zfs_properties:
      mountpoint: "{{ item.mountpoint | default('/' ~ item.name) }}"
      canmount: "off"
  loop: "{{ zfs_additional_datasets | default([]) }}"
  when: not zfs_pool_exists

- name: Create USERDATA container dataset {{ zfs_userdata_base }}
  community.general.zfs:
    name: "{{ zfs_userdata_base }}"
    state: present
    extra_zfs_properties:
      mountpoint: "none"
      canmount: "off"
  when: not zfs_pool_exists

- name: Create USERDATA datasets
  community.general.zfs:
    name: "{{ zfs_userdata_base }}/{{ item.name }}"
    state: present
    extra_zfs_properties:
      mountpoint: "{{ item.mountpoint | default('/home/' ~ item.name) }}"
      canmount: "off"
  loop: "{{ zfs_userdata_datasets | default([]) }}"
  when: not zfs_pool_exists

- name: Set Pool bootfs property
  ansible.builtin.command:
    argv:
      - zpool
      - set
      - "bootfs={{ zfs_dataset_base }}"
      - "{{ pool_name }}"

- name: Export and Re-import Pool to {{ chroot_path }}
  shell: |
    zpool export {{ pool_name }}
    zpool import -N -R {{ chroot_path }} {{ pool_name }}
  when: not zfs_pool_exists

- name: Fix canmount of datasets under {{ zfs_dataset_base }}
  ansible.builtin.command:
    argv:
      - zfs
      - set
      - "canmount={{ item.canmount | default('on') }}"
      - "{{ zfs_dataset_base }}/{{ item.name }}"
  loop: "{{ zfs_additional_datasets | default([]) }}"
  when: not zfs_pool_exists

- name: Fix canmount of datasets under {{ zfs_userdata_base }}
  ansible.builtin.command:
    argv:
      - zfs
      - set
      - "canmount={{ item.canmount | default('on') }}"
      - "{{ zfs_userdata_base }}/{{ item.name }}"
  loop: "{{ zfs_userdata_datasets | default([]) }}"
  when: not zfs_pool_exists

- name: Mount ZFS datasets
  shell: |
    zfs mount {{ zfs_dataset_base }}

    {% for ds in (zfs_additional_datasets | default([])) %}
    {% if ds.canmount is not defined or ds.canmount != "off" %}
    zfs mount {{ zfs_dataset_base }}/{{ ds.name }}
    {% endif %}
    {% endfor %}

    {% for uds in (zfs_userdata_datasets | default([])) %}
    {% if uds.canmount is not defined or uds.canmount != "off" %}
    zfs mount {{ zfs_userdata_base }}/{{ uds.name }}
    {% endif %}
    {% endfor %}
  when: not zfs_pool_exists

- name: Update device symlinks
  ansible.builtin.command:
    argv:
      - udevadm
      - trigger
...
