---
- name: Gather facts about the ZFS pool
  community.general.zpool_facts:
    name: "{{ pool_name }}"
    parsable: true
  failed_when: "false"

- name: "Determine if the ZFS pool already exists (check ansible_zfs_pools if the array contains the key/value pair name: pool_name)"
  set_fact:
    zfs_pool_exists: "{{ ansible_zfs_pools is defined and ansible_zfs_pools | selectattr('name', 'equalto', pool_name) | list | length > 0 }}"

- name: Print ZFS pool existence
  ansible.builtin.debug:
    msg: "ZFS Pool {{ pool_name }} exists: {{ zfs_pool_exists }}"

- name: Prepare Disks (Wipe)
  shell: |
    zpool labelclear -f {{ pool_disk }} || true
    wipefs -a {{ pool_disk }}
    sgdisk --zap-all {{ pool_disk }}
    {% if boot_disk != pool_disk %}
    wipefs -a {{ boot_disk }}
    sgdisk --zap-all {{ boot_disk }}
    {% endif %}
  when: not zfs_pool_exists

- name: Create Partitions
  shell: |
    sgdisk -n {{ boot_part_num }}:1m:+512m -t {{ boot_part_num }}:ef00 {{ boot_disk }}
    sgdisk -n {{ pool_part_num }}:0:-10m -t {{ pool_part_num }}:bf00 {{ pool_disk }}
  when: not zfs_pool_exists

- name: Create ZFS Pool
  community.general.zpool:
    name: "{{ pool_name }}"
    mountpoint: "none"
    force: true
    pool_properties:
      ashift: "12"
      autotrim: "on"
    filesystem_properties:
      compression: "lz4"
      acltype: "posixacl"
      xattr: "sa"
      atime: "off"
      relatime: "on"
    state: present
    vdevs:
      - disks:
          - "{{ pool_part_device }}"
  when: not zfs_pool_exists

- name: Create Dataset ROOT
  community.general.zfs:
    name: "{{ pool_name }}/ROOT"
    state: present
    extra_zfs_properties:
      mountpoint: "none"
      "org.zfsbootmenu:commandline": "quiet splash"
- name: Create Dataset ROOT/{{ zfs_id }}
  community.general.zfs:
    name: "{{ pool_name }}/ROOT/{{ zfs_id }}"
    state: present
    extra_zfs_properties:
      mountpoint: "/"
      canmount: "noauto"
- name: Create Dataset home
  community.general.zfs:
    name: "{{ pool_name }}/home"
    state: present
    extra_zfs_properties:
      mountpoint: "/home"

- name: Set Pool bootfs property
  ansible.builtin.command:
    argv:
      - zpool
      - set
      - "bootfs={{ pool_name }}/ROOT/{{ zfs_id }}"
      - "{{ pool_name }}"

- name: Export and Re-import Pool to {{ chroot_path }}
  shell: |
    zpool export {{ pool_name }}
    zpool import -N -R {{ chroot_path }} {{ pool_name }}
    zfs mount {{ pool_name }}/ROOT/{{ zfs_id }}
    zfs mount {{ pool_name }}/home

- name: Update device symlinks
  ansible.builtin.command:
    argv:
      - udevadm
      - trigger
...
