---
- name: Format EFI system partition
  ansible.builtin.filesystem:
    fstype: vfat
    dev: "{{ boot_part_device }}"
    opts: "-F32"

- name: Ensure EFI mount directory exists
  ansible.builtin.file:
    path: "{{ chroot_path }}/boot/efi"
    state: directory

- name: Mount EFI system partition in chroot
  ansible.posix.mount:
    path: "{{ chroot_path }}/boot/efi"
    src: "{{ boot_part_device }}"
    fstype: vfat
    opts: defaults
    state: mounted
    fstab: "{{ chroot_path }}/etc/fstab"
    #TODO Does this use the UUID automatically?

- name: Create ZFSBootMenu EFI directory
  ansible.builtin.file:
    path: "{{ chroot_path }}/boot/efi/EFI/ZBM"
    state: directory

- name: Download ZFSBootMenu EFI binary
  ansible.builtin.get_url:
    url: https://get.zfsbootmenu.org/efi
    dest: "{{ chroot_path }}/boot/efi/EFI/ZBM/VMLINUZ.EFI"
    mode: '0644'

- name: Create backup ZFSBootMenu EFI binary
  ansible.builtin.copy:
    src: "{{ chroot_path }}/boot/efi/EFI/ZBM/VMLINUZ.EFI"
    dest: "{{ chroot_path }}/boot/efi/EFI/ZBM/VMLINUZ-BACKUP.EFI"
    remote_src: true

- name: Ensure efivarfs is mounted for chroot
  ansible.posix.mount:
    path: "{{ chroot_path }}/sys/firmware/efi/efivars"
    src: efivarfs
    fstype: efivarfs
    state: mounted

- name: (Chroot) Create backup ZFSBootMenu EFI boot entry
  ansible.builtin.command:
    argv:
      - efibootmgr
      - -c
      - -d
      - "{{ boot_disk }}"
      - -p
      - "{{ boot_part_num }}"
      - -L
      - ZFSBootMenu (Backup)
      - -l
      - '\EFI\ZBM\VMLINUZ-BACKUP.EFI'
  delegate_to: "{{ chroot_name }}"
  become: true

- name: (Chroot) Create ZFSBootMenu EFI boot entry
  ansible.builtin.command:
    argv:
      - efibootmgr
      - -c
      - -d
      - "{{ boot_disk }}"
      - -p
      - "{{ boot_part_num }}"
      - -L
      - ZFSBootMenu
      - -l
      - '\EFI\ZBM\VMLINUZ.EFI'
  delegate_to: "{{ chroot_name }}"
  become: true
...
