---
version: 0.1
log:
  level: info

storage:
  filesystem:
    rootdirectory: /var/lib/registry

proxy:
  remoteurl: {{ registry.upstream }}
  ttl: {{ registry.ttl | default('0') }}

http:
  addr: :5000
  {% if use_letsencrypt and registry.fqdn != "" %}
  tls:
    certificate:
      acme:
        email: {{ letsencrypt_email }}
        cachefile: /acme/{{ registry.name }}.json
        hosts:
          - {{ registry.fqdn }}
  {% endif %}
  metrics:
    prometheus:
      enabled: true
      path: /metrics
  headers:
    X-Content-Type-Options: [ nosniff ]
...
