[Unit]
Description=Unlock ZFS pools using YubiKey
DefaultDependencies=no
After=local-fs.target
Before=zfs-mount.service{% set extra = zfs_yubikey_systemd_before_extra %}{% if extra is string %}{% if extra|trim != '' %} {{ extra }}
{% endif %}{% else %}{% if extra|default([])|length > 0 %} {{ extra | join(' ') }}
{% endif %}{% endif %}
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/zfs-yubikey-unlock.sh{% for pool in zfs_yubikey_pools %} {{ pool | quote }}{% endfor %}

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
