---
- name: Create challenge directory
  file:
    path: "{{ zfs_yubikey_challenge_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: Generate challenge files if missing
  command: >
    sh -c 'head -c 32 /dev/urandom | base64 > {{ zfs_yubikey_challenge_dir }}/{{ item }}.challenge'
  args:
    creates: "{{ zfs_yubikey_challenge_dir }}/{{ item }}.challenge"
  loop: "{{ zfs_yubikey_pools }}"

- name: Set permissions on challenge files
  file:
    path: "{{ zfs_yubikey_challenge_dir }}/{{ item }}.challenge"
    owner: root
    group: root
    mode: "0600"
  loop: "{{ zfs_yubikey_pools }}"
...
