---
# Disk Configuration
boot_disk: "/dev/sda"
boot_part_num: "1"
pool_disk: "/dev/sda"
pool_part_num: "2"
# If true, partition paths will be rendered as /dev/nvme0n1p1 (note the "p").
# If false, partition paths will be rendered as /dev/sda1.
is_nvme: false

# Optional APT proxy URL (e.g. http://aptproxy.local:3142). When set, a proxy
# config is written into the target system under /etc/apt/apt.conf.d/90proxy.
apt_proxy: ""

# ZFS Configuration
pool_name: "zroot"
zfs_id: "linuxmint"  # Used for the dataset name (zroot/ROOT/mint)

# System Configuration
hostname: "linux-mint-zbm-test-vm"
root_password: "password" # Use a hashed password in production
default_user_name: "panzer1119"
default_user_password: "password" # Use a hashed password in production
timezone: "Europe/Berlin"

# OS Versions
ubuntu_codename: "noble"
mint_codename: "zara"
mint_version: "22.2.0"
mint_keyring_url: "http://packages.linuxmint.com/pool/main/l/linuxmint-keyring/linuxmint-keyring_2022.06.21_all.deb"
mint_timezone: "Europe/Berlin"
mint_locales:
  default: "en_US.UTF-8"
  generate:
    - "en_US.UTF-8"
    - "de_DE.UTF-8"
mint_keyboard:
  layout: "de"
  model: "pc105"
  variant: "nodeadkeys"
  options: ""
skip_configuration: false

installation_method: "squashfs"  # Options: "squashfs", "debootstrap"
apt_sources: "official"      # Options: "official", "custom"

# Chroot Configuration
chroot_path: "/mnt"
...
